body {
    font-family: 'HelveticaNeue', sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/********************************************
 Intro Section:
*********************************************/

.intro {
    background-color: #09143B;
    background-image: url('../images/circle.png'),
        url('../images/circle-2.png');
    background-position-x: 700px, -700px;
    background-position-y: 90%, 10%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
}

nav a {
    color: #ffffff;
}

.intro nav {
    padding: 30px 0;
}

.intro__text {
    margin-top: 100px;
    width: 90%;
    color: #ffffff;
}

@media (min-width: 768px) {
    .intro__text {
        width: 50%;
    }
}

/********************************************
 Gallery Section:
*********************************************/

.gallery__image {
    height: 300px;
    object-fit: fill;
}

.gallery__image__caption {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 40px 20px 10px;
    width: 100%;
    color: #ffffff;
    display: none;
    clip-path: polygon(0 0, 100% 18%, 100% 100%, 0% 100%);
    transition: bottom .3s ease;
}

.gallery__link:hover .gallery__image__caption {
    display: block;
    position: absolute;
    bottom: 0;
}


.gallery__image__caption h1 {
    margin-bottom: 10px;
    font-size: 20px;
}

.gallery__image__caption img {
    width: 30px;
}

.gallery__image_helf {
    height: 300px;
}

@media (min-width: 768px) {
    .gallery__image {
        height: 418px;
    }

    .gallery__image_helf {
        height: 200px;
    }
}

/********************************************
 Footer Section:
*********************************************/
.footer__text {
    width: 90%;
    line-height: 2;
}

@media (min-width: 768px) {
    .footer__text {
        width: 50%;
        line-height: 2;
    }
}